@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>
@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)</p>

  <p>@Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")</p>

  <input type="submit" value="Add new Machine" />
}
<hr />
<p class="btn btn-outline-secondary role="button">@Html.ActionLink("Show all Machines", "Index")</p>