@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>

<table class="table">
  <thead>
    <tr>
      <th>
        Machine Name
      </th>
      <th>
        Licensed Engineers
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        @Html.DisplayFor(model => model.MachineName)
      </td>
      <td>
        @foreach (var join in Model.JoinEngineerMachine)
        {
          <li>@join.Engineer.EngineerName</li>
        }
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MachineId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.MachineId })
      </td>
    </tr>
  </tbody>
</table>

<p>@Html.ActionLink("Back to Machine List", "Index")</p>