@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit Machine</h2>

<h4>Edit this Machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  <p>Edit this machine's name</p>
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.MachineName)
  @Html.EditorFor(model => model.MachineName)

  <input type="submit" value="Save" />

  <p>Add a licensed engineer to repair this machine</p>
  <p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>

  <p>Delete an Engineer from the list</p>
  <ul>
  @foreach (var join in Model.JoinEngineerMachine)
    {
      <li>@join.Engineer.EngineerName</li>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to Machine List", "Index")</p>