@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>
<div class="wrapper">
@using (Html.BeginForm())
{
  
  <p>
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)
  </p>
  <p>
  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")
  </p>

  <input type="submit" value="Add new Engineer" />
}
</div>
<hr />
<p class="btn btn-outline-secondary role="button">@Html.ActionLink("Show all Engineers", "Index")</p>