@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>

<table class="table">
  <thead>
    <tr>
      <th>
        Engineer Name
      </th>
      <th>
        Machine Licenses
      </th>
      <th>
        Edit or Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        @Html.DisplayFor(model => model.EngineerName)
      </td>
      <td>
        <ul class="list-unstyled">
        @foreach (var join in Model.JoinEngineerMachine)
        {
          <li>@join.Machine.MachineName</li>
        }
        </ul>
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EngineerId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.EngineerId })
      </td>
    </tr>
  </tbody>
</table>
<hr />

<p class="btn btn-outline-secondary role="button">@Html.ActionLink("Back to Engineer List", "Index")</p>