@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit Engineer</h2>
<hr />

<h4>Edit this Engineer: @Html.DisplayFor(model => model.EngineerName)</h4>
<hr />

<div class="wrapper">
  @using (Html.BeginForm())
  {
    <div class="wrapper">
      @Html.HiddenFor(model => model.EngineerId)

      @Html.LabelFor(model => model.EngineerName)
      @Html.EditorFor(model => model.EngineerName)

      <input type="submit" value="Save" />
    </div>
    <hr />

    <div class="wrapper">
      <p>Add a licensed machine to this engineer</p>
      @Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })
    </div>
    <hr />

    <div class="wrapper">
      <p>Delete a Machine from the list</p>
      <ul class="list-unstyled list-inline">
        @foreach (var join in Model.JoinEngineerMachine)
        {
          <li>@join.Machine.MachineName</li>
          @using (Html.BeginForm("DeleteMachine", "Engineers"))
          {
            @Html.Hidden("joinId", @join.EngineerMachineId)
            <input type="submit" value="Delete" />
          }
        }
      </ul>
    </div>

  }
</div>
<hr />
<p class="btn btn-outline-secondary btn-lg role=" button">@Html.ActionLink("Back to Engineer List", "Index")</p>